<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя стартовая страница</title>
</head>
<body>
<h1>Добро пожаловать на мою стартовую страницу!</h1>
<p>Это простая страница, созданная с помощью Django.</p>
<li><a href="{% url 'index' %}">Главная страница</a></li>
<li><a href="{% url 'main' %}">Главное меню</a></li>
<li><a href="{% url 'about' %}">О нас</a></li>

<!-- Ссылки на представления игры -->
<h2>Игра:</h2>
<ul>
    <li><a href="{% url 'coin' %}">Подбрасывание монеты</a></li>
    <li><a href="{% url 'cube' %}">Бросок кубика</a></li>
    <li><a href="{% url 'hundred' %}">Случайное число до 100</a></li>
    <li><a href="{% url 'last_results' %}">Последние результаты подбрасывания монетки</a></li>
</ul>

<!-- Ссылки на представления блога -->
<h2>Блог:</h2>
<ul>
    <li><a href="{% url 'read_authors' %}">Авторы</a></li>
    <li><a href="{% url 'write_authors' %}">Добавить в базу 20 авторов</a></li>
</ul>

<!-- Ссылки на представления магазина -->
<h2>Магазин:</h2>
<ul>
    <li><a href="{% url 'create_fake_client' %}">Создать готового клиента</a></li>
    <li><a href="{% url 'create_fake_product' %}">Создать готовый продукт</a></li>
    <li><a href="{% url 'create_fake_order' %}">Создать готовый заказ</a></li>
    <li><a href="{% url 'write_fake_orders' %}">Записать в базу данных 10 готовых заказов</a></li>
</ul>
</body>
</html>
