{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Главная страница
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <li><a href="{% url 'base' %}">На главную</a></li>
        {% block content %}
        <h1>Добро пожаловать на мой сайт!</h1>
        <ul>
            <li><a href="{% url 'about' %}">Обо мне</a></li>
            <li><a href="{% url 'aboutme' %}">Создатель</a></li>
        </ul>

        <h2>Игры:</h2>
        <ul>
            <li><a href="{% url 'coin' 1 %}">Подбрасывание монеты</a></li>
            <li><a href="{% url 'cube' 2 %}">Бросок кубиков</a></li>
            <li><a href="{% url 'hundred' 1  %}">Случайное число до 100</a></li>
            <li><a href="{% url 'last_results' %}">Последние результаты подбрасывания монетки</a></li>
        </ul>

        <h2>Блог:</h2>
        <ul>
            <li><a href="{% url 'read_authors' %}">Авторы</a></li>
            <li><a href="{% url 'write_authors' %}">Добавить в базу 20 авторов</a></li>
        </ul>

        <h2>Магазин:</h2>
        <ul>
            <li><a href="{% url 'shop_index' %}">Индекс</a></li>
            <li><a href="{% url 'all_clients_view' %}">Все клиенты</a></li>
            <li><a href="{% url 'all_products_view' %}">Все продукты</a></li>
            <li><a href="{% url 'all_orders_view' %}">Все заказы</a></li>
            <li><a href="{% url 'view_order_by_client_id' client_id=207 %}">Поиск заказа по ID клиента</a></li>
            <li><a href="{% url 'ordered_products_by_period' client_id=207 period='month' %}">Поиск заказов за период</a></li>
        </ul>
        {% endblock %}
    </div>
</body>
</html>
