{% extends 'base.html' %}

{% block title %}
Все авторы
{% endblock %}

{% block content %}
    <h1>Все авторы</h1>
    <table width="1200" border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Почта</th>
                <th>Дата рождения</th>
                <th>Количество статей</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td><a href="{% url 'detail_author' author.id %}">{{ author.id }}</a></td>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
                <td>{{ author.email }}</td>
                <td>{{ author.birthday }}</td>
                <td>{{ author.article_set.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
