{% extends 'base.html' %}

{% block title %}
Все комментарии
{% endblock %}

{% block content %}
    <h1>Все комментарии</h1>
    <table width="800" border="1px">
        <thead>
            <tr>
                <th>ID комментария</th>
                <th>Автор комментария</th>
                <th>Название статьи</th>
                <th>Текст комментария</th>
                <th>Дата комментария</th>
                <th>Дата изменения</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.author.full_name }}</td>
                <td><a href="{% url 'detail_article' comment.article.id %}">{{ comment.article }}</a></td>
                <td><a href="{% url 'detail_comment' comment.id %}">{{ comment.content }}</a></td>
                <td>{{ comment.created_at }}</td>
                <td>{{ comment.updated_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
