{% extends 'base.html' %}

{% block title %}Заказы клиента{% endblock %}

{% block content %}
    <h1>Заказы клиента</h1>
    <table border="1">
        <tr>
            <th>Заказ ID</th>
            <th>Клиент</th>
            <th>Товары</th>
            <th>Общая стоимость</th>
            <th>Дата заказа</th>
            <th>Статус</th>
        </tr>
        {% for order_info in orders_info %}
        <tr>
            <td>{{ order_info.order_id }}</td>
            <td>{{ order_info.client_name }}</td>
            <td>
                <ul>
                    {% for product_name in order_info.products %}
                        <li>{{ product_name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ order_info.total }}</td>
            <td>{{ order_info.date_ordered }}</td>
            <td>{{ order_info.status }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
